<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    <form action="update" method="post">
      <input type="text" name="username" value="">
      <textarea name="message" rows="8" cols="80"></textarea>
      <button type="submit" name="button">POST</button>
    </form>
  </body>
</html>
