<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGNUP</title>
  </head>
  <body>
    <h1>SIGNUP</h1>
    <form action="/signin" method="post" enctype="multipart/form-data">
      <input type="text" name="username" value="" placeholder="username">
      <input type="password" name="password" value="" placeholder="password">
      <input type="file" name="avatar" value="">
      <button type="submit" name="button">SING UP</button>
    </form>
  </body>
</html>
