<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>MongoDB</title>
  </head>
  <body>
    <form action="update" method="post" encType="multipart/form-data">
      <textarea name="message" rows="8" cols="80"></textarea>
      <input type="file" name="image" value="">
      <button type="submit" name="button">POST</button>
    </form>
  </body>
</html>
